*{
    margin: 0;
    padding: 0;
    
}
body{
     background-color: rgb(126, 88, 6);
}
.container {

    display: grid;
    grid-template-columns: auto;
   
}
#header{
    text-align: center;
    background-color: rgb(255, 203, 59);
    color: black;
    text-shadow: 2px 4px #00000077;
    width: 100vw;

    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    margin: auto ;}

th{
    border: black 3px solid;
}
td {
    border: black 2px solid;
    max-width: 15vw;
    
    text-align: center;
    font-size: 1.5vw;
}
tr:nth-of-type(even) {
    background-color: rgb(172, 138, 26);
}
input{
    width: 95%;
}
button{
    border: yellow outset;
    background-color: rgb(255, 203, 59);
    height: 5vh;
    width: 100%;
}
input{
    background-color: black;
    color: white;
}